.about {
}
.about-row {
  /* width: 1100px; */
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.about-card {
  overflow: hidden;
  width: 250px;
  border: 1px solid rgb(90, 89, 89);
  border-radius: 10px;
  margin: 0 15px;
  background-color: rgb(241, 230, 215);
}
.about-card-content__color {
  background-color: #fff;
}
.about-card-content {
  padding: 20px;
}
.about-card-img {
  border: 1px solid rgb(90, 89, 89);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0 auto 20px;
  background-color: #fff;
}
.about-card-img img {
  margin: auto;
  display: block;
  margin-top: 24px;
}
.about-card-title {
  margin-bottom: 15px;
  text-align: right;
}
.about-card-text {
}
.about-card-text p {
  text-align: right;
}
#about-title {
  margin-bottom: 40px;
}
