.header {
  padding: 20px 0;
  text-align: center;
}
.main-title {
  font-size: 42px;
  font-weight: 700;
  color: coral;
  margin-bottom: 30px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo,
.navigation,
.navigation-list-item {
  display: inline-block;
  align-items: center;
}
.logo {
  font-size: 36px;
  font-weight: 700;
}
.navigation {
}
.navigation-list {
}
.navigation-list-item {
  margin-left: 20px;
}
.navigation-list-item a {
  font-size: 18px;
  font-weight: 400;
  color: coral;
}
